.LogoSearch {
  display: flex;
  gap: 0.75rem;
}
.logoimg{
  width: 45px;
  height: 43.5px;
}
.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}
.Search>input {
  background-color: transparent;
  border: none;
  outline: none;
}
.s-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--buttonBg);
  border-radius: 5px;
  padding: 4px;
  color: white;
}
